@model List<cart.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-wrap">
                @for(int i=0;i<Model.Count;i++)
                {
                <div class="card mr-auto my-2" style="width: 14rem; flex-basis:14rem;">
                    <img src="@Model[i].DefaultImageId" class="card-img-top" width="100px" height="150px">
                    <div class="card-body">
                        <h5 class="card-title">@Model[i].Name</h5>
                        <p class="card-text">價格:@Model[i].Price</p>
                        <p class="card-text">商品描述:@Model[i].Description</p>
                        <p class="card-text">上市日期:@Model[i].PublishDate</p>
                        <a href="#" class="btn btn-outline-info">訂購商品</a>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
